.blogCard {
  border: 0.75px #bebebe solid;
}

.blogContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogWrapper {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogCardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogCard{
    text-align: center;
    width: 90%;
    padding-bottom: 1rem;
    margin-bottom: 5vh;
}

.blogCard img{
    height: 20vh;
    width: 100%;
    object-fit: cover;
}

.blogCard h2{
    padding-top: 1rem;
    font-family: "Playfair Display";
    font-weight: 500;
    color: #3d3d3d;
    font-size: clamp(1.25rem, 1.2093rem + 0.186vw, 1.5rem);
}

.blogCard p {
    color: #393939;
    padding: 1rem;
    font-size: clamp(0.8125rem, 0.7616rem + 0.2326vw, 1.125rem);
}



.blogCard button {
  background-color: var(--color-main-button);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: rgb(231, 231, 231);
  font-size: 13px;
}
