.loginPage {
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15vh;
}

.backgroundImage {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 35vh;
  filter: blur(4px);
}

.backgroundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 1280px) and (max-width: 1600px) {

  .backgroundImage {

    height: 55vh;

  }
}

@media only screen and (min-width: 1600px) {}