.cardWrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;
}

.cardContainer {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    border: 0.75px solid var(--color-borders);
    background-color: #FFFFFF;

    text-align: center;
    color: var(--color-header);

    gap: 1rem;
    padding-top: 1rem;
}

.cardContainer h2 {


    font-family: 'Playfair Display';
    font-size: 25px;
    font-weight: 500;
    padding: 0 1rem;
}

.cardContainer p {


    font-size: 15px;
    text-align: center;
    width: 80%;
}

.cardContainer img {

    width: 80%;
    margin-bottom: 5vh;
    height: 20vh;
    /* border: 0.75px solid var(--color-borders); */
    border-top: none;

    object-fit: cover;
}

.cardContainer button {

    padding: 0.5rem 1rem;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: rgb(231, 231, 231);
    background-color: var(--color-main-button);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


@media only screen and (min-width:400px) and (max-width:480px) {}

@media only screen and (min-width:480px) and (max-width:640px) {}

@media only screen and (min-width:640px) and (max-width:1024px) {

    .cardContainer {
        width: 70%;

    }
}

@media only screen and (min-width:1024px) and (max-width:1280px) {
    .cardContainer {
        width: 60%;

    }
}


@media (min-width:1280px) and (max-width:1600px) {

    .cardWrapper {

        flex-direction: row;

    }

    .cardContainer {
        height: auto;
        width: 40%;

    }

    .cardContainer h2 {
        font-size: 30px;
    }

    .cardContainer p {


        font-size: 20px;
        padding: 0 3rem;
    }

    .cardContainer img {

        height: 20vh;
        width: 80%;
        margin-bottom: 5rem;
    }

    .cardContainer button {


        font-size: 17px;

    }

}


@media only screen and (min-width:1600px) {


    .cardWrapper {
        flex-direction: row;
    
    }
    
    .cardContainer {
        height: 600px;
        width: 30%;
        gap: 1rem;
    
    }
    
    .cardContainer img {
        height: auto;
    }
    
    .cardContainer h2 {
        font-size: 30px;
    }
    
    .cardContainer p {
    
        font-size: 20px;
        text-align: center;
        padding: 0 2rem;
    }
    
    .cardContainer img {
        width: 80%;
        height: 20vh;
        object-fit: cover;
        border: 0.75px solid var(--color-borders);
        border-top: none;
        margin-bottom: 3rem;
    
    }
    
    .cardContainer button {
    
        font-size: 17px;
        margin-top: 3vh;
    }

}