.cardWrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;
}

.cardContainer {


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 80%;
    border: 0.75px solid var(--color-borders);
    background-color: #FFFFFF;

    text-align: center;
    color: var(--color-header);

    gap: 1rem;
    padding-top: 1rem;
}

.cardContainer h2 {


    font-family: 'Playfair Display';
    font-size: 25px;
    font-weight: 500;
    padding: 0 1rem;
}

.cardContainer p {


    font-size: 15px;
    text-align: center;
    padding: 0 1.5rem;
}

.cardContainer img {

    width: 100%;
    height: 20vh;
    border: 0.75px solid var(--color-borders);
    border-top: none;

    object-fit: cover;
}

.cardContainer button {

    padding: 0.5rem 1rem;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    color: rgb(231, 231, 231);
    background-color: var(--color-main-button);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

@media (min-width:1280px) and (max-width:1600px) {

    .cardWrapper {

        flex-direction: row;

    }

    .cardContainer {




        width: 35%;

    }

    .cardContainer p {


        font-size: 15px;
        padding: 0 3rem;
    }

    .cardContainer img {

        height: 20vh;
    }

}