.aboutContainer{
    background-color: #dfdfdf;
    padding: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.aboutWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    width: 80%;
}

.aboutWrapper h2{
    font-family: "Playfair Display";
    font-weight: 500;
}

.aboutWrapper p {
    font-size: 13px;
}

.aboutWrapper button{
    background-color: var(--color-main-button);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: rgb(231, 231, 231);
    font-size: 13px;
}