:root {


  --color-main: #D8D1C9;
  --color-accent: #C7AA7F;
  --color-borders: #888888;
  --color-input: #FAFAFA;
  --color-placeholder: #888888;
  --color-header: #595959;
  --color-context: #505050;
  --color-main-button: #192649;
  --color-background: #F4F3F3;
  --color-card-background: #D8D1C9;
  --color-footer: #D8D1C9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-main: #D8D1C9;
    --color-accent: #C7AA7F;
    --color-borders: #888888;
    --color-input: #FAFAFA;
    --color-placeholder: #888888;
    --color-header: #595959;
    --color-context: #505050;
    --color-main-button: #192649;
    --color-background: #F4F3F3;
    --color-card-background: #D8D1C9;
    --color-footer: #D8D1C9;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: white;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}