.menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
  position: fixed;
  display: none;
}

.menu a {

  color: rgb(65, 65, 65);
  font-size: 18px;
  letter-spacing: 1px;
}

@media (min-width: 470px) {
  .menu {
    display: block;
    /* Show the menu on screens that are 470px and up */
  }
}