.footerImage {
    display: flex;
    justify-content: center;
}


.footerTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.icons {
    font-size: 22px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;

}


.footerContainer {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D8D1C9;
    color: #5e5e5e;
    font-family: "Playfair Display";
    font-size: 15px;
    font-weight: 400;
    width: 100%;

}

.footerWrapper {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.footerBottom h4 {
    color: #464646;
    font-weight: 500;
}

.footerBottom {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;

}

.linksSeparation {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}


.links {
    display: flex;
    flex-direction: column;
    line-height: 1.75;
}

.links h4 {
    padding-bottom: 1vh;
}

.footerCopy {
    color: #6e6e6e;
    text-align: center;
}

@media (min-width:640px) and (max-width:1024px) {


    .footerWrapper {
        gap: 3rem;
    }

    .footerTop {
        width: 100%;
        gap: 8rem;
        justify-content: start;
    }

    .linksSeparation {
        gap: 3rem;
        flex-direction: row;
    }


    .icons {
        font-size: 30px;
        gap: 3rem;

    }

    .footerBottom {
        width: 80%;
        gap: 3rem
    }



}

@media (min-width:1024px) and (max-width:1280px) {



    .footerTop {
        justify-content: space-around;
        gap: 9rem;
    }

    .icons {
        font-size: 32px;
        gap: 4rem;

    }

}


@media (min-width:1280px) and (max-width:1600px) {

    .footerWrapper {
        gap: 4rem;
    }


    .footerTop {
        width: 60%;
        gap: 10rem;
        justify-content: start;
    }

    .linksSeparation {
        gap: 3rem;
        flex-direction: row;
    }


    .icons {
        font-size: 30px;
        gap: 3rem;

    }

    .footerBottom {
        width: 80%;

    }

    .links {
        gap: 1rem;
    }
}