.backgroundImage{

  background-image: url('../../../public/backgound.jpg');
  background-position: center;
  background-size: cover;
}

.searchContainer {

  display: flex;
  justify-content: center;

  width: 100vw;
  margin-top: 20vh;

  font-size: 17px;
}

.searchWrapper {

  width: 90vw;
  height: auto;
}


.buttonWrapper {

  display: flex;
  justify-content: space-around;

  width: 100%;

}

.searchButton {

  width: 100%;
  padding: 1rem;
  border: 1px #838383 solid;
  background-color: var(--color-main);

  color: var(--color-text);
}

.searchButton:nth-child(1) {

  border-right: none;
}


.middleContainer {

  display: flex;
  flex-direction: column;

  padding: 1rem;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;

  font-size: 15px;
  color: var(--color-text);

  gap: 2rem;
}

.middleContainer input,
.middleContainer select {

  padding: 0.5rem;
  border: 1px solid #838383;
  border-radius: 2px;
  background-color: white;

  color: #838383;
}


/* FIRST */

.midFirst {


  display: flex;
  justify-content: space-around;

  width: 100%;
}

.radioWrapper {

  display: flex;
  align-items: center;

  gap: 0.75rem;

}



/* SECOND */

.midSecond {

  display: flex;
  justify-content: space-around;

  width: 100%;

  gap: 1rem;
}

/* THIRD */


.midThird{

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.price,
.size {

  display: flex;

  gap: 2vw;
  
}

.price input,
.size input {

  width: 20vw;
  padding: 0;
  padding-left: 1rem;
}


/* Button */

.searchProperties{

  width: 100%;
  padding: 1rem;
  border: 1px solid #838383;
  background-color: var(--color-main);

  color: var(--color-text);
}