
.backgroundImage {
  /* background-image: url('../../../public/background.jpg'); */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  z-index: -1; /* To place it behind other content */
  object-fit: scale-down;
}

.backgroundImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}

.searchContainer {

  display: flex;
  justify-content: center;

  width: 100vw;
  margin-top: 30vh;
  
  font-size: 17px;
}

.searchWrapper {

  width: 90vw;
  height: auto;
  background-color: rgb(233, 233, 233);
}


.buttonWrapper {

  display: flex;
  justify-content: space-around;

  width: 100%;

}

.searchButton {

  width: 100%;
  padding: 1rem;
  border: 0.75px #838383 solid;
  background-color: var(--color-main);

  color: var(--color-text);
}

.searchButton:nth-child(1) {

  border-right: none;
}


.middleContainer {

  display: flex;
  flex-direction: column;

  padding: 2rem 1rem;
  border-left: 0.75px solid #838383;
  border-right: 0.75px solid #838383;

  font-size: 15px;
  color: var(--color-text);

  gap: 2.5rem;
}

.middleContainer input,
.middleContainer select {

  padding: 0.5rem;
  border: 0.75px solid #a1a1a1;
  border-radius: 3px;
  background-color: white;

  color: #838383;
}


/* FIRST */

.midFirst {


  display: flex;
  justify-content: space-around;

  width: 100%;
}

.radioWrapper {

  display: flex;
  align-items: center;

  gap: 0.75rem;

}



/* SECOND */

.midSecond {

  display: flex;
  justify-content: space-around;

  width: 100%;

  gap: 1rem;
}

/* THIRD */


.midThird{

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.price,
.size {

  display: flex;

  gap: 2vw;
  
}

.price input,
.size input {

  width: 20vw;
  padding: 0;
  padding-left: 1rem;
}


/* Button */

.searchProperties{

  width: 100%;
  padding: 1rem;
  border: 0.75px solid #838383;
  background-color: var(--color-main);

  color: var(--color-text);
}