.blog {
    margin-top: 13vh;
    margin-bottom: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #505050;
    text-align: center;
}

.blogHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #ebe0d1;
    margin-bottom: 5vh;
    border: 0.5px solid #8a8a8a;
}

.blog h1 {
    font-family: 'Playfair Display', 'serif';
    font-weight: 500;
}